.numbers {
  margin: 100px 0;
  text-align: center;
  position: relative;

  @media only screen and (max-width: 650px) {
    margin: 50px 0;
  }

  &__container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    gap: 25px;
    padding: 0 20px;

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
      row-gap: 25px;
      column-gap: 0;
      justify-content: space-between;
    }
  }

  &__item {
    background-color: $color-background-light;
    max-width: 333px;
    padding: 30px 15px;
    transition: all 1s;
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    z-index: 2;
    position: relative;

    @media only screen and (max-width: 700px) {
      max-width: 100%;
    }

    &:nth-child(1) {
      .numbers__number {
        background: linear-gradient(215deg, #f9bac9 30%, $color-secondary 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:nth-child(2) {
      transition-delay: 200ms;

      .numbers__number {
        background: linear-gradient(115deg, #f9bac9 30%, $color-secondary 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:nth-child(3) {
      transition-delay: 400ms;

      .numbers__number {
        background: linear-gradient(45deg, #f9bac9 30%, $color-secondary 70%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media only screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }

  &__number {
    font-weight: 900;
    font-size: 90px;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }

  .show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
